<html>
    <head>
        <title>Hair Salon</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>{{ client.getName }}</h1>
            <ul>
              <li>{{ client.getPhone }}</li>
            </ul>
            
            <form action="/">
            <button type="submit" class="btn btn-primary">Home</button>
        </form>
        </div>
    </body>
</html>
